<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">  
    <title>loan app</title>
</head>

<body>
 <div class="container main">
  <div class="jumbotron" id="holder">
     <br>
       <centre><b><h2 style="color:#FF0000";>{{ prediction_text}}</h2></b></centre> 
     <br>
     <br>
    <centre><h1 class='main_heading'> Loan Approval Verification</h1></centre>
    <p>This Web application is a machine learning model which predicts if you are eligible for a loan.</p>
      
  
   <br>
    <div class="instructions">
      <h2>Instructions: </h2>
      <p>1. Please Enter values for the following fields</p>
      <p>2. Fields with no options should be entered in digits.</p>
    </div>
 &nbsp; &nbsp;  

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
        <input type="text" name="Age" placeholder="Age" required="required" /><br>
        <input type="text" name="No_of_Dependents" placeholder="No_of_Dependents" required="required" /><br>
        <input type="text" name="Available_balance" placeholder="Available_balance" required="required" /><br>
        <input type="text" name="Ledger_balance" placeholder="Ledger_balance" required="required" /><br>
        <input type="text" name="Income" placeholder="Income" required="required" /><br>
        <input type="text" name="Credit_score" placeholder="Credit_score" required="required" /><br>
        <input type="text" name="Loan_Amount" placeholder="Loan_Amount" required="required" /><br>
        <input type="text" name="Gender" placeholder="Gender" required="required" /><br>
        <input type="text" name="Occupation" placeholder="Occupation" required="required" /><br>
        <input type="text" name="Marital_Status" placeholder="Marital_Status" required="required" /><br>
        <input type="text" name="Employment_Status" placeholder="Employment_Status" required="required" /><br>
        <input type="text" name="Education_Status" placeholder="Education_Status" required="required" /><br>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        <a href="/" class="btn btn-primary">Back to main page</a>
    </form>

   <br>
   <br>
  
   </div>
 </div>
 

</body>
</html>
