<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">  
    <title>loan app</title>
</head>

<body>
 <div class="container main">
  <div class="jumbotron" id="holder">
     <br>
       <centre><b><h2 style="color:#FF0000";>{{ prediction_text}}</h2></b></centre> 
     <br>
     <br>
    <centre><h1 class='main_heading'> Loan Approval Verification</h1></centre>
    <p>This Web application is a machine learning model which predicts if you are eligible for a loan.</p>
      
  
   <br>
    <div class="instructions">
      <h2>Instructions: </h2>
      <p>1. Please Enter values for the following fields</p>
      <p>2. Fields with no options should be entered in digits.</p>
    </div>
 &nbsp; &nbsp;  

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
        <input type="text" name="Salary" placeholder="Salary" required="required" /><br>
        <input type="text" name="Total_Debit" placeholder="Total_Debit" required="required" /><br>
        <input type="text" name="Loan_Amount" placeholder="Loan_Amount" required="required" /><br>
        <input type="text" name="Industry" placeholder="Industry" required="required" /><br>
        <input type="text" name="Years_employed" placeholder="Years_employed" required="required" /><br>
        <input type="text" name="Job_position" placeholder="Job_position" required="required" /><br>
        <input type="text" name="Property" placeholder="Property" required="required" /><br>
        <input type="text" name="HR_confirmation" placeholder="HR_confirmation" required="required" /><br>
        <input type="text" name="No_of_dependents" placeholder="No_of_dependents" required="required" /><br>
        


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        <a href="/" class="btn btn-primary">Back to main page</a>
    </form>
